/*----------------------------
 4.buttons-area
-----------------------------*/
.primary-btn {
  display: inline-block;
  background: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white);
  transition: $transition;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  &:hover {
    color: var(--white);
    background: var(--hover-color);
  }
}
.btn-style-two {
  display: inline-block;
  background: var(--secondary-color);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white);
  transition: $transition;
  padding: 1rem 3rem;
  &:hover {
    color: var(--white);
    background: var(--hover-two-color);
  }
}
.btn-style-three {
  display: inline-block;
  background: var(--primary-color-two);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white);
  transition: $transition;
  padding: 1rem 3rem;
  &:hover {
    color: var(--white);
    background: var(--hover-color-three);
  }
}
.back-btn {
  background: var(--black);
  color: var(--white);
  i {
    margin-right: 0.5rem;
  }
}
.primary-bg {
  background: var(--primary-color);
  &:hover {
    background: var(--hover-color);
  }
}
.secondary-bg {
  background: var(--secondary-color);
  &:hover {
    background: var(--hover-two-color);
  }
}
.shop-btn {
  display: inline-block;
  padding: 1rem 3rem;
  background: var(--color-nine);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white);
  border-radius: 2.5rem;
  transition: $transition;
  &:hover {
    color: var(--white);
    background: var(--secondary-color);
  }
  &.white-btn {
    background: var(--white);
    color: var(--color-nine);
    &:hover {
      color: var(--white);
      background: var(--secondary-color);
    }
  }
}
.shop-now-btn {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color-three);
  text-decoration: underline;
  transition: $transition;
  &:hover {
    color: var(--hover-color-four);
    text-decoration: underline;
  }
}
