/*-------------------------
9.medium-banner
--------------------------*/
.medium-banner {
  @include flex-position(flex, space-between, center);
  padding: 1rem 2rem;
  background: linear-gradient(-65deg, #c93032 50%, var(--black) 50%);
  height: 200px;
  .banner-content {
    width: 50%;
    h2 {
      font-size: 4.8rem;
      font-weight: 700;
      text-transform: capitalize;
      color: var(--white);
      a {
        color: var(--white);
      }
    }
    span {
      font-family: $titlefont;
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: capitalize;
      color: var(--white);
    }
    h3 {
      font-family: $titlefont;
      font-size: 2.4rem;
      font-weight: 700;
      text-transform: capitalize;
      color: #51b5b8;
    }
    p {
      margin: 0;
      font-size: 1.6rem;
      font-weight: 400;
      color: var(--white);
    }
  }
  .banner-image {
    text-align: center;
    width: 50%;
  }
  &.style-two {
    position: relative;
    z-index: 1;
    background: #bef7f9;
    .banner-content {
      width: 45%;
      h3 {
        margin-bottom: 2rem;
        font-family: $titlefont;
        font-size: 2.4rem;
        line-height: 3.4rem;
        text-transform: capitalize;
        font-weight: 700;
        a {
          color: var(--white);
        }
      }
      span {
        display: block;
        font-size: 2.4rem;
        font-weight: 400;
        color: var(--black);
      }
      h2 {
        margin: 0;
        font-size: 3rem;
        font-weight: 700;
        color: var(--black);
      }
    }
    &:after {
      position: absolute;
      content: "";
      width: 45%;
      height: 100%;
      background: var(--secondary-color);
      left: 0;
      top: 0;
      clip-path: polygon(100% 0, 100% 45%, 70% 100%, 0 100%, 0 0);
      z-index: -1;
    }
  }
}
