/*-------------------------
18.section-top-banner
--------------------------*/
.section-top-banner {
  .singe-banner {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
