	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/10/2020 06:29
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size:16;
  font-style: normal;
  margin-left: 0;
}

.flaticon-user:before { content: "\f100"; }
.flaticon-search-interface-symbol:before { content: "\f101"; }
.flaticon-heart-simple-shape-silhouette:before { content: "\f102"; }
.flaticon-heart:before { content: "\f103"; }
.flaticon-shopping-cart-empty-side-view:before { content: "\f104"; }
.flaticon-shopping-cart:before { content: "\f105"; }
.flaticon-right-arrow-angle:before { content: "\f106"; }
.flaticon-left-arrow-angle-big-gross-symbol:before { content: "\f107"; }
.flaticon-arrow-down-angle:before { content: "\f108"; }
.flaticon-eye:before { content: "\f109"; }
.flaticon-black-star-silhouette:before { content: "\f10a"; }
.flaticon-favourite-star:before { content: "\f10b"; }
.flaticon-star-of-favorites-outline:before { content: "\f10c"; }
.flaticon-favourites-filled-star-symbol:before { content: "\f10d"; }
.flaticon-left-arrow:before { content: "\f10e"; }
.flaticon-right-arrow:before { content: "\f10f"; }
.flaticon-money-back:before { content: "\f110"; }
.flaticon-free-delivery:before { content: "\f111"; }
.flaticon-financial:before { content: "\f112"; }
.flaticon-trend:before { content: "\f113"; }
.flaticon-feedback:before { content: "\f114"; }
.flaticon-statistics:before { content: "\f115"; }
.flaticon-planning:before { content: "\f116"; }
.flaticon-list-interface-symbol:before { content: "\f117"; }
.flaticon-list:before { content: "\f118"; }
.flaticon-grid:before { content: "\f119"; }
.flaticon-grid-1:before { content: "\f11a"; }
.flaticon-plus:before { content: "\f11b"; }
.flaticon-minus:before { content: "\f11c"; }
.flaticon-multiplication:before { content: "\f11d"; }
.flaticon-cloud-computing:before { content: "\f11e"; }
.flaticon-settings:before { content: "\f11f"; }